PORT=5000
MONGODB_URI=mongodb://localhost:27017/securefile_db
JWT_SECRET=super_secret_jwt_key_securefile_transfer_2026_dev_prod
JWT_EXPIRES_IN=7d
FILE_ENCRYPTION_KEY=01234567890123456789012345678901
UPLOAD_DIR=./storage
MAX_FILE_SIZE=524288000
CLIENT_URL=http://localhost:5173
NODE_ENV=development
